body {
    font-size: 10pt;
    font-family: sans-serif;
}

.text {
    padding: 10px;
}

.figuredescription {
    font-style: italic;
    padding-left: 7px;
    padding-bottom: 20px;
}

.freedom {
    float: left;
    width: 228px;
    margin: 5px;
    border: 1px lavender solid;
    -moz-border-radius: 20px;
}

.freedomicon {
    text-align: center;
    padding-top: 15px;
}

h1,h2,h3 {
    color: lightsteelblue;
}

h2 {
    text-align: center;
}

.ohloh {
    /*text-align: center;*/
    padding-top: 20px;
    clear: left;
}

img {
    border: 0px;
}