body {
    font-size: 10pt;
    font-family: sans-serif;
}

.figuredescription {
    font-style: italic;
    padding-left: 10px;
}

.freedom {
    float: left;
    width: 228px;
    margin: 5px;
    border: 1px lavender solid;
    -moz-border-radius: 20px;
}

.freedomicon {
    text-align: center;
    padding-top: 10px;
}

.belowfreedoms {
    padding-top: 15px;
    clear: left;
}

h1,h2,h3 {
    color: lightsteelblue;
}

h1 {
    font-size: 18pt;
}

h2 {
    text-align: center;
}

img {
    border: 0px;
}
